<div class="container">
    <h1>Histórico</h1>
  
    <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Animal</mat-label>
        <mat-select 
          [(ngModel)]="animal"
          name="animal"
          required>
            <mat-option *ngFor="let animal of animais" [value]="animal">{{ animal.nome }}</mat-option>
        </mat-select>

        <button *ngIf="animal" matSuffix mat-icon-button aria-label="Clear" (click)="onChangeAnimal()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <button (click)="consultar()" [disabled]="disale()" class="cinquentaWidth paddingRight mat-elevation-z8 button" mat-stroked-button color="primary">Consultar</button>

    <button [disabled]="disale()" class="cinquentaWidth paddingLeft mat-elevation-z8 button" mat-stroked-button color="primary">Imprimir Histórico</button>
  
      <mat-form-field appearance="standard">
        <mat-label>Filtro (Paciente - Tutor - Hora - Procedimento)</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Exemplo fulano" #input>
      </mat-form-field>
  
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            
            <ng-container matColumnDef="paciente">
              <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Paciente </th>
              <td mat-cell *matCellDef="let element" style="width: 20%;"> {{element.animal.nome}} </td>
            </ng-container>
          
            <ng-container matColumnDef="tutor">
              <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Tutor </th>
              <td mat-cell *matCellDef="let element" style="width: 20%;"> {{element.animal.tutor.nome}} </td>
            </ng-container>
            
            <ng-container matColumnDef="dataAtendimento">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Data Atendimento </th>
                <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.dataAgendamento | date:'dd/MM/yyyy HH:mm'}} </td>
            </ng-container>

            <ng-container matColumnDef="procedimento">
                <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Procedimento </th>
                <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.procedimento}} </td>
              </ng-container>
        
            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Ações </th>
              <td mat-cell *matCellDef="let element" style="width: 10%;">
              <a routerLink="visualizar/{{element.id}}">
                <i class="material-icons edit">visibility</i>
              </a>
              <a (click)="imprimirHistorico(element.id)">
                <i class="material-icons edit">print</i>
              </a>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>    
  </div>