.container{
    height: 100%;
}

.sidenav{
    width: 13rem;
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,185,10,1) 0%, rgba(0,255,153,1) 100%);
}

.sidenav i {
    margin-right: 1rem;
}

.sidenav a {
    color: black;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: black;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,185,10,1) 0%, rgba(0,255,153,1) 100%);
}