.container{
    height: 100%;
}

.sidenav{
    width: 13rem;
    color: white;
    background: radial-gradient(circle, rgba(116,164,113,1) 0%, rgba(31,74,29,0.9556197478991597) 100%);
}

.sidenav i {
    margin-right: 1rem;
}

.sidenav a {
    color: black;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: black;
    background: radial-gradient(circle, rgba(116,164,113,1) 0%, rgba(31,74,29,0.9556197478991597) 100%);
}