<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="home">
          <i class="material-icons">home</i>
          Home
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">view_agenda</i>
          Agenda
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">home</i>
          Atender
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">work_history</i>
          Histórico
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">vaccines</i>
          Vacinas
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">person</i>
          Tutor
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">pets</i>
          Animal
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">edit_note</i>
          Anotação
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">splitscreen</i>
          Outros
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">how_to_reg</i>
          Informações Pessoais
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">logout</i>
          Logout
        </a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <app-header></app-header>
      <button class="menu mat-elevation-z8" mat-button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>
          menu
        </mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>